# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.build/
.dist/
.pytest_cache/

# Environments
.env
.env.local
.env.*.local
.env.dev
.env.staging
.env.production

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

.coverage
